@import url('../css/styles.css');

html,body {
  scroll-behavior: smooth;
}

main {
  width: 80%;
  margin: 1.5rem auto;
}

main > div > h1 {
  font-family: var(--font-family3);
  font-size: 2.2rem;
}

.abt-img {
  width: 90%;
  margin: 1rem auto;
  height: 60dvh;
  /* background-image: url('../img/miyamoto_musashi_vagabond.jpg'); */
  background-image: url('../img/examples/neofetch.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.item-1 {
  width: 70%;
  margin: 2rem auto;
}

.hr {
  width: 75%;
  margin: auto;
  border: 1.5px solid var(--color-foreground);
}

.para {
  font-size: 22px;
  font-family: var(--font-family3);
  margin: 1.5rem auto;
  line-height: 2.2rem;
}

.vl {
  border-left: 5px solid var(--color-foreground);
  height: 840px;
  float: left;
  margin-right: 2rem;
  border-radius: 5px;
}

.skill-btn-1 {
  margin: 3rem;
  font-size: 2rem;
}

.skill-btn-1 > span {
  width: 20%;
  text-align: center;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perc-cnt {
  width: 100%;
  height: 30px;
  background-color: var(--color-foreground-2);
  border-radius: 10px;
}

.slider {
  background-color: var(--color-foreground);
  color: #000;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
}

.slider-1 {
  width: 100%;
}

.slider-2 {
  width: 100%;
}

.slider-3 {
  width: 73%;
}

.slider-4 {
  width: 90%;
}

.slider-5 {
  width: 80%;
}

/* Media querys */
@media only screen and (width <= 812px)
{
  main {
    width: 90%;
  }

  .container-1 {
    width: 100%;
  }

  .abt-img {
    width: 90%;
    background-position: center left 10%;
    max-height: 30dvh;
  }

  .item-1 {
    width: 85%;
  }

  .container-2 {
    height: 840px;
  }

  .hr {
    width: 95%;
  }

  .skill-btn-1 {
    width: 100%;
    margin-left: 10px;
  }
}
