/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat&family=Poppins&family=Roboto&family=Lato&family=Fira+Sans:wght@400;500&family=Syne+Mono&display=swap');

:root {
  --font-family1: 'Barlow Condensed', sans-serif;
  --font-family2: 'Montserrat', sans-serif;
  --font-family3: 'Fira Sans', monospace;
  --font-family4: 'Roboto', sans-serif;
  --font-family5: 'Lato', sans-serif;
  --font-family6: 'Syne Mono', monospace;
  --color-background: #282a2e;
  --color-background-2: #1d1f21;
  --color-foreground: #fff; 
  --color-foreground-2: #4b5154;
  --color-btn1: ;
  --color-btn-fg: ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: var(--font-family5);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-foreground);
}

/* Navbar  */
header {
  background-color: var(--color-background-2);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-family: var(--font-family3);
  font-size: 18px;
  font-weight: 500;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: var(--color-foreground);
  margin: 3px 0;
}

.abt{
  border: 1.5px solid var(--color-foreground);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-foreground);
}

.abt > .fr {
  color: var(--color-background-2) !important;
} 

.fr:hover {
  text-decoration: underline;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

main {
  flex: 1 1 100dvh;
}

main > .container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.main-title{
  margin: 1rem;
  font-family: var(--font-family3);
  font-size: 40px;
  /* font-weight: 300; */
  word-spacing: 15px;
  text-align: center;
}

.extra {
  font-size: 16px;
  word-spacing: 5px;
}

.main-links {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin: 1rem auto;
  font-size: 2.5rem;
}

.contact {display: block; text-align: center; width: 100%; margin: 1rem; font-size: 30px; text-decoration: underline;}

footer {
  flex: 1 1 2rem;
  background-color: var(--color-background-2);
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  word-spacing: 5px;
}

footer > a {
  text-decoration: underline;
}

/* Media querys */
@media only screen and (width <= 712px)
{
  .hamburger {
    display: flex;
  }

  nav {
    justify-content: space-between;
  }

  .nav-link {
    position: absolute;
    background-color: rgba(40, 42, 46, 0.4);
    backdrop-filter: blur(3px);
    top: 50px;
    right: 0;
    width: 100vw;
    max-height: 100dvh;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 20px;
  }

  a {
    text-decoration: underline;
  }

  .nav-link.active {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
  }

  .main-links {
    width: 80%;
  }
}

@media only screen and (width <= 360px)
{
  .main-title {
    gap: 0.5rem;
  }
}

/* Animations */

@keyframes blink {
  from {opacity: 1;}
  20% {opacity: 1;}
  28% {opacity: 0;}
  72% {opacity: 0;}
  80% {opacity: 1;}
  to {opacity: 1;}
}

.blink {
  animation: blink 0.9s infinite;
}
