---
//Components
import Layout from "../layouts/Layout.astro";
import SideNav from "../components/SideBarNav.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

//CSS
import "./global.css";
---

<Layout title="My Work">
  <SideNav />
  <Navbar name="Sahas kamble" />
  <main class="w-full ml-[300px]" id="closenav">
    <article>
      <h1>This is work page</h1>
    </article>
  </main>
  <Footer />
</Layout>
