---
//components here...
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import { Image } from "astro:assets"

//Images
import logo from "../img/avatar.jpg"
import bgc from "../img/backg.png"

//Page CSS...
import "../global/global.css"
---

<Layout title="Sahas kamble, aka SK">
  <Navbar />

  <div class="w-screen lg:w-[65dvw] h-fit mx-auto" id="main">
    <div
      class="mx-6 my-8 h-fit py-8 px-4 bg-[--primary] rounded-md flex flex-col justify-center items-center gap-8 md:flex-row"
    >
      <Image
        class="rounded-[50%] w-[200px] h-[200px] mx-4"
        src={logo}
        alt="Logo"
      />
      <div class="flex-1 lg:ml-8 flex flex-col items-start justify-center">
        <h3 class="text-7xl font-bold my-2">Sahas kamble</h3>
        <p class="text-xl">I love doing programming and making website's</p>
        <div class="my-2 sm:h-[60px] h-[80px] flex items-center flex-wrap">
          <span class="text-3xl bg-red-400 px-[0.60rem] py-1 rounded-lg"
            ><a href="https://youtube.com"><i class="fa fa-youtube-play"></i></a
            ></span
          >
          <span
            class="text-3xl text-black bg-white px-[0.70rem] py-1 mx-2 rounded-lg"
            ><a href="https://github.com/sahaskamble"
              ><i class="fa fa-github"></i></a
            ></span
          >
          <span class="text-3xl bg-orange-400 px-[0.70rem] py-1 rounded-lg"
            ><a href="/rss.xml"><i class="fa fa-rss"></i></a></span
          >
          <button
            id="btn"
            class="ml-0 sm:ml-2 bg-[--accent] mt-4 text-[#000] font-mono font-semibold text-xl md:text-2xl px-2 py-[0.5rem] rounded-md"
            ><a href="/cv">Download CV</a></button
          >
        </div>
      </div>
    </div>

    <div class="mx-4 px-2">
      <p class="text-2xl my-5">
        Welcome to my site, here I make <span
          class="text-[--accent] font-semibold">visually</span
        > stunning but fast web app's whether you need a E-commerce website or a
        landing page for your work/services.
      </p>
      <p class="text-2xl my-4">
        I'm there to help you with it and styling is my speciality I've used
        various CSS frameworks like tailwindcss, bootstrap, bulmacss, muicss,
        etc... and recently starte learning a new js framework called astrojs
        you can read more on my blog about it.
      </p>
    </div>

    <div class="mx-4">
      <h3 class="text-3xl mt-20 my-8 text-left font-semibold">
        #I use Arch_BTW
      </h3>
      <div>
        <p class="text-2xl">
          So, this section is about what I daily drive and for the most part I
          use <span class="text-[--accent] font-semibold">GNU/Linux</span> more specificaly I use ArchLinux
        </p>
      </div>
      <div class="my-8">
        <div class="mybg ">
          <!-- w-[55dvw] h-[70dvh] mx-auto border-2 border-white w-[45dvw] h-[60dvh] -->
          <Image src={bgc} alt="myimg" class=" mx-auto my-7" />
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @media (min-width: 375px) {
    #btn {
      margin-top: 0px;
      margin-left: 0.5rem;
      flex-wrap: nowrap;
    }
  }

  .mybg{
    /* background-image: url('../img/backg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
    position: sticky;
    z-index: -10;
  }
</style>
