---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

// Other imports...
import "../global/style.css";
import pic1 from "/public/img/test.png";
import pic2 from "/public/img/Responsive-watches-website.png";

// Others components...
---

<Layout title="Sahas kamble, aka SK">
	<!-- <Image class="border-2 border-black" src={pic1} alt="my img" width="300" height="100" /> -->
	<Navbar />

	<!-- Main section -->
	<main class="p-10">
		<div
			class="h-fit my-4 lg:h-[85dvh] flex justify-around items-center gap-8 lg:flex-nowrap flex-wrap"
			id="Intro"
		>
			<div class="lg:w-[50%] w-full h-fit">
				<p class="">
					<span class="md:text-8xl text-6xl font-bold"
						>Hey,<br />I'm Sahas Kamble,</span
					>

					<div class="md:text-4xl text-3xl py-4">
						I'm a web designer, programmer, Linux youtuber and the
						creator of occasionally useful side-project.
					</div>
				</p>
			</div>

			<Image src={pic1} alt="myimg" />
		</div>

		<div class="py-8" id="Projects">
			<div
				class="text-3xl m-6 font-bold w-[60dvw] mx-auto text-center p-4 bg-black text-white border border-black"
			>
				Projects
			</div>
			<div></div>

			<Image src={pic2} alt="project img" />
		</div>

		<div
			class="w-full h-fit py-16 flex flex-col justify-start gap-4 items-center"
			id="TechStack"
		>
			<div
				class="text-3xl font-bold w-[60dvw] text-center p-4 bg-black text-white"
			>
				Tech stack
			</div>

			<div
				class="w-full border-t-2 border-black py-6 grid place-items-center grid-cols-1 md:grid-cols-3"
				id="techstack"
			>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:html-5" />
					<span class="text-2xl">95%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:css-3" />
					<span class="text-2xl">80%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:javascript" />
					<span class="text-2xl">80%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:react" />
					<span class="text-2xl">65%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:python" />
					<span class="text-2xl">85%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:linux-tux" />
					<span class="text-2xl">98%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:c" />
					<span class="text-2xl">90%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:java" />
					<span class="text-2xl">70%</span>
				</div>
				<div class="mx-12" id="logos">
					<Icon class="icony" name="logos:astro" />
					<span class="text-2xl">60%</span>
				</div>
			</div>
		</div>
	</main>

	<!-- Footer -->
	<Footer />
</Layout>

<style>
	#techstack {
		/* display: flex; */
		/* display: grid; */
		/* grid-template-columns: repeat(3, 1fr); */
		/* place-items: center; */
		/* flex-wrap: wrap; */
		/* justify-content: space-around; */
	}
	.icony {
		flex: 0 0;
		width: 200px;
		height: 250px;
		padding: 2rem;
	}
	#logos > span {
		display: block;
		background-color: #000;
		color: #fff;
		padding: 0.2rem;
		margin-bottom: 0.3rem;
		/* border-radius: 6px; */
		text-align: center;
	}
	#logos {
		text-align: center;
		margin: 1.5rem;
		border-bottom: 1px solid black;
	}
</style>
