---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

// Other imports...
import "../global/style.css";
import pic1 from "/public/img/img2.jpg";

// Others components...
const items = [
    {
        name : "Home",
        path : "/",
    },

    {
        name : "Blog",
        path : "/blog",
    },

	{
        name : "my-setup",
        path : "/setup",
    },
];
---

<Layout title="Sahas kamble, aka SK">
    <div class="dark:bg-[--dark-bg] dark:text-[--dark-fg]">
        <Navbar name="SahasKamble"/>

        <div class="md:flex justify-center gap-8 hidden w-full p-4">
            {
            items.map((item)=> (
                <div class="link text-2xl font-semibold underline"><a href={item.path}>{item.name}</a></div>
            ))
            }
        </div>
        <main id="hero" class="hero">
            <section class="md:w-[70dvw] w-[90dvw] mx-auto intro py-8">
                <h1 class="md:text-[10dvw] text-7xl font-bold">Hey, <br>I'm Sahas <span class="text-4xl">👋</span></h1>
                <div class="my-8 md:w-[60dvw] w-full ml-auto">
                    <p class="text-4xl font-semibold text-end">
                        — a web designer, programmer and a youtuber  
                    </p>
                </div>
            </section>
            
            <section class="myimg w-[95dvw] mx-auto flex justify-center">
                <Image class="rounded-[30px] border-2 border-black dark:border-white" id="img" src={pic1} alt="my image" />
            </section>

            <section class="md:w-[70dvw] mx-auto my-8 py-3">
                <div class="flex flex-col text-end px-5">
                    <h3 class="md:text-6xl text-4xl font-semibold pb-4">a bit about me,</h3>
                    <div class="md:w-[60dvw] ml-auto">
                        <p class="text-2xl">
                            I'm a BCA undergraduate from maharashtra, India. who has a spark for creativaty and wanna make web alive again like good old day's
                        </p> 
                    </div>
                </div>
            </section
        </main>

        <Footer/>
    </div>
</Layout>

