---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import { Image } from "astro:assets"

//css
import "../global/global.css"
// import pic from "../img/Logo.jpg"
---

<Layout title="Sahas kamble, aka SK">
  <div class="" id="main">
    <Navbar Name="SahasKamble" />
    <section
      class="hero h-[85dvh] mx-auto px-6 flex justify-evenly items-center"
      id="hero"
    >
      <div class="md:w-[80dvw] w-full md:px-2rem md:pl-[5rem] flex-1">
        <div class="text-8xl font-semibold leading-[80px]">Sahas kamble</div>
        <p class="text-xl font-semibold my-6">
          Programmer &amp; Web developer 🖖<br />
           I use Arch BTW 😉
        </p>
        <div
          class="w-[100px] flex justify-center items-center px-2 py-2 rounded-[1rem] bg-[--color1] text-black text-xl font-semibold"
        >
          Connect
        </div>
      </div>
      <div class="hidden text-5xl lg:flex flex-col items-center gap-6 w-fit">
        <span class="socials"><a href=""><i class="fa fa-github"></i></a></span>
        <span class="socials"
          ><a href=""><i class="fa fa-instagram"></i></a></span
        >
        <span class="socials"><a href=""><i class="fa fa-twitch"></i></a></span>
      </div>
    </section>

    <section class="tech" id="tech">
      <div>
        <!-- <div class=""> -->
        <!--   <Image src={} alt="techpic" /> -->
        <!-- </div> -->
        <!-- <div class=""> -->
        <!--   <Image src={} alt="techpic" /> -->
        <!-- </div> -->
        <!-- <div class=""> -->
        <!--   <Image src={} alt="techpic" /> -->
        <!-- </div> -->
        <!-- <div class=""> -->
        <!--   <Image src={} alt="techpic" /> -->
        <!-- </div> -->
        <!-- <div class=""> -->
        <!--   <Image src={} alt="techpic" /> -->
        <!-- </div> -->
      </div>
    </section>

    <Footer />
  </div>
</Layout>

<style>
  .flip {
    box-shadow: 0 4px 8px rgb(97, 184, 236);
  }
  .image-flip {
    transition: transform 0.8s ease-in-out;
  }
  .image-flip:hover {
    transform: rotate(360deg);
  }
</style>
