---

---

<footer class="h-fit font-semibold py-3 px-3 flex lg:justify-between flex-col items-center">
  <div class="text-4xl lg:hidden flex justify-evenly items-center gap-8 w-fit py-4">
    <span class="socials"><a href=""><i class="fa fa-github"></i></a></span>
    <span class="socials"><a href=""><i class="fa fa-instagram"></i></a></span>
    <span class="socials"><a href=""><i class="fa fa-twitch"></i></a></span>
  </div>
  <div>&copy; 2023 Sahas kamble</div>
  <div><a href="/">https://sahaskamble.github.io</a></div>
</footer>
