---

---

<footer class="w-[80dvw] mx-auto h-[50px] flex justify-center items-center border-t-2 border-black dark:border-white">
	<div class="text-xl">
		<p>&copy; 2023 — <a href="https://sahaskamble.github.io">sahaskamble</a></p>
	</div>
</footer>
