---
const { name } = Astro.props;
---

<footer class="lg:ml-[300px] m-4 ">
  <ul class="flex justify-center items-center gap-12 text-[25px] mb-2 lg:hidden">
    <span ><a href="https://githun.com/sahaskamble"><i class="fa fa-github"></i></a></span>
    <span ><a href=""><i class="fa fa-twitter"></i></a></span>
    <span ><a href=""><i class="fa fa-coffee"></i></a></span>
    <span ><a href=""><i class="fa fa-rss"></i></a></span>
  </ul>  
  <span class="block text-center text-[20px] m-6 p-4 mb-0 ">&copy; 2023 {name}</span>
  <span class="block text-center mx-3 ">Made using <a class="underline" href="https://astro.build">Astro-js</a> with <a class="underline" href="https://tailwindcss.com">tailwindcss</a> developed by Sahas Kamble</span>
</footer>
