---
import "../global/global.css"

//menu links
const items = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "About",
    path: "/about",
  },
  {
    name: "Work",
    path: "/work",
  },
  {
    name: "Blog",
    paht: "/blog",
  },
]
---

<header class="bg-[--color1] text-black">
  <nav class="flex justify-around w-[90dvw] mx-auto">
    <ul
      class="lg:flex menu-items items-center gap-10 text-xl font-semibold"
      id="menu-items"
    >
      {
        items.map((item) => (
          <li class="links">
            <a href={item.path}>{item.name}</a>
          </li>
        ))
      }
    </ul>

    <div class="flex-1 lg:hidden"></div>

    <div
      class="hamburger block lg:hidden mr-2 cursor-pointer my-1 rounded"
      id="hamburger"
    >
      <div class="bars bar1 block"></div>
      <div class="bars bar2 block"></div>
      <div class="bars bar3 block"></div>
    </div>
  </nav>
</header>

<style>
  .bars {
    width: 35px;
    height: 5px;
    margin: 5px 0px;
    background-color: rgb(0, 0, 0);
  }
  #logo-p1,
  #logo-p2 {
    transform: rotate(10deg);
  }
  .links {
    padding: 10px 15px;
  }
  .socials {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10%;
    transition: transform 0.7s ease-in-out;
  }
  .links:hover {
    color: rgb(97, 184, 236);
    background-color: var(--color-bg);
  }
  .socials:hover {
    transform: rotate(360deg);
  }
  .hamburger {
    padding: 4px;
    margin: 4px;
    border: 1px solid #000;
    border-radius: 6px;
  }
  .hamburger:hover {
    background-color: #71adf0;
  }
</style>
