---
//Astro Icons here...
import { Icon } from "astro-icon"

const { name } = Astro.props
---

<header class="flex justify-end lg:hidden">
  <div class="hamburger p-5 lg:hidden" id="hamburger">
    <Icon pack="ri" name="menu-fill" class="w-[40px] cursor-pointer" />
  </div>
</header>
