---
// import { Icon } from "astro-icon";

// Others components...
const items = [
    {
        name: "Home",
        path: "/",
    },

    {
        name: "Blog",
        path: "/blog",
    },

    {
        name: "my-setup",
        path: "/setup",
    },
];
---

<header class="bg-[#222222]">
    <nav
        class="w-full h-fit py-3 flex justify-between items-center md:flex-row flex-col px-8 rounded-xl"
    >
        <div>
            <div class="lg:text-6xl text-4xl text-white font-bold">
                Sahas Kamble
            </div>
        </div>

        <div
            class="w-fit h-fit text-2xl hidden lg:flex justify-around items-center gap-8 flex-wrap"
        >
            {
                items.map((item) => (
                    <div class="text-gray-300 underline">
                        <a href={item.path}>{item.name}</a>
                    </div>
                ))
            }
        </div>

        <div
            class="w-fit h-fit flex justify-center items-center gap-4 text-2xl text-white"
        >
            <span><a href="">@bash_writer</a></span>
            <div class="hidden">
                <span>github</span>
                <span>insta</span>
                <span>youtube</span>
            </div>
        </div>
    </nav>
</header>

<style></style>
