---
import { Image } from 'astro:assets';
import Profilepic from '../img/profile.jpg';
import { Icon } from 'astro-icon';
// import { Jscript } from '../scripts/index.js';

// const { name } = Astro.props;
---

<nav class="navbar hidden fixed left-0 w-[300px] md:h-full h-screen bg-[--color1] lg:flex flex-1 flex-col" id="navbar">
  <div class="flex justify-center items-center flex-col px-8 py-4">
    <Image src={Profilepic} alt="Profile pic" class="w-[150px] h-[150px] rounded-full" />
    <span class="font-bold text-[30px]">Sahas Kamble</span>
    <div class="fixed lg:hidden left-4 top-4 w-[50px] h-[100dvh] cursor-pointer z-10" id="closenav">
      <Icon pack="ri" name="close-circle-line" />
    </div>
  </div>
  <div class="md:h-[60dvh] h-[70dvh]">
    <ul class="text-[--secondary]">
      <li class="btn btn-primary p-2 px-6 mb-1 mx-4 rounded-[10px]"><a href="/">Home</a></li>
      <li class="btn p-2 px-6 mb-1 mx-4 rounded-[10px]"><a href="/work">Work</a></li>
      <li class="btn p-2 px-6 mb-1 mx-4 rounded-[10px]"><a href="/blog">Blog</a></li>
      <li class="btn p-2 px-6 mb-1 mx-4 rounded-[10px]"><a href="/cv">CV</a></li>
      <li class="btn p-2 px-6 mb-1 mx-4 rounded-[10px]"><a href="mailto:sahaskamble282@gmail.com">Contact</a></li>
    </ul>
  </div>
  <div class="hidden lg:h-[2rem] lg:block mx-4 ">
    <ul class="ul flex justify-evenly items-center text-[30px] mb-2">
      <span class="links"><a href=""><i class="fa fa-coffee"></i></a></span>
      <span class="links"><a href="https://githun.com/sahaskamble"><i class="fa fa-github"></i></a></span>
      <span class="links"><a href="https://youtube.com/@HowtodoLinux"><i class="fa fa-youtube-play"></i></a></span>
      <span class="links"><a href="/rss.xml"><i class="fa fa-rss"></i></a></span>
    </ul>
  </div>   
</nav>


