---
import { Image } from "astro:assets";
import Profilepic from "../img/profile.jpg";
import { Icon } from "astro-icon";
// import { Jscript } from '../scripts/index.js';

// const { name } = Astro.props;
---

<nav
  class="navbar hidden fixed left-0 w-[300px] md:h-full h-screen bg-[--color1] lg:flex lg:justify-evenly flex-col"
  id="navbar"
>
  <div class="flex justify-center items-center flex-col px-8 py-8 md:pt-0 pb-5">
    <Image
      src={Profilepic}
      alt="Profile pic"
      class="w-[120px] h-[120px] "
    />
  </div>
  <div class="lg:h-[60%] text-[20px]">
    <ul
      class="flex flex-col justify-evenly text-[--fg-color] cursor-pointer h-[35dvh]"
    >
      <a class="w-[269px] mx-4 mb-1 px-4 py-2 bg-[--bg-color]" href="/">Home</a>
      <a class="w-[269px] mx-4 mb-1 px-4 py-2 hover:bg-[--bg-color]" href="/work">Work</a>
      <a class="w-[269px] mx-4 mb-1 px-4 py-2 hover:bg-[--bg-color]" href="/blog">Blog</a>
      <a class="w-[269px] mx-4 mb-1 px-4 py-2 hover:bg-[--bg-color]" href="/cv">CV</a>
      <a class="w-[269px] mx-4 mb-1 px-4 py-2 hover:bg-[--bg-color]" href="mailto:sahaskamble282@gmail.com">Contact</a>
    </ul>
  </div>
  <div class="hidden lg:h-[2rem] lg:block mx-4">
    <ul class="ul flex justify-evenly items-center text-[25px] mb-2">
      <span class="links"><a href=""><i class="fa fa-coffee"></i></a></span>
      <span class="links"
        ><a href="https://githun.com/sahaskamble"
          ><i class="fa fa-github"></i></a
        ></span
      >
      <span class="links"
        ><a href="https://youtube.com/@HowtodoLinux"
          ><i class="fa fa-youtube-play"></i></a
        ></span
      >
      <span class="links"><a href="/rss.xml"><i class="fa fa-rss"></i></a></span
      >
    </ul>
  </div>
</nav>
